{% extends 'base.html.twig' %}

{% block title %}Kunden anlegen{% endblock %}

{% block body %}
    <div class="container">
        <h1>Kunden</h1>
            <div class="content-container">
                <div class="row">
                    <div class="col-2">
                        Name
                    </div>
                    <div class="col-2">
                        <i class="fas fa-phone">
                        </i>
                    </div>
                    <div class="col-1">
                        <i class="fas fa-envelope">
                        </i>
                    </div>
                    <div class="col-5">
                        Wohnort
                    </div>
                    <div class="col-2">
                        Aktionen
                    </div>
                </div>
                {% for customer in customers %}
                    <div class="row">
                        <div class="col-2">
                            {{ customer.prename }} {{ customer.lastname }}
                        </div>
                        <div class="col-2">
                            {{ customer.phone }}
                        </div>
                        <div class="col-1">
                            <a href="mailto:{{ customer.email }}"><i class="fas fa-envelope"></i></a>
                        </div>
                        <div class="col-5">
                            {{ customer.street }} {{ customer.housenr }}, {{ customer.postal }} {{ customer.city }}
                        </div>
                        <div class="col-2"></div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
