{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}
{% block header %}Locations{% endblock %}
{% block body %}


<div class="table-container mt-4 mb-4">
    <table class="table">
        <thead>
            <tr>
                <th>Name der Location</th>
                <th>Strasse</th>
                <th>Stadt</th>
                <th>Notizen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.locationName }}</td>
                <td>{{ location.street }} {{ location.streetnr }}</td>
                <td>{{ location.postal }} {{ location.city }}</td>
                <td>{{ location.notes }}</td>
                <td>
                    <a class="special-link" href="{{ path('app_location_show', {'id': location.id}) }}">Anzeigen</a>
                    <a class="special-link" href="{{ path('app_location_edit', {'id': location.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Keine Einträge vorhanden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a class="special-link" href="{{ path('app_location_new') }}">Neu anlegen</a>
{% endblock %}
