{% extends 'base.html.twig' %}

{% block title %}Termine{% endblock %}

{% block header %}Termine{% endblock %}

{% block body %}
    <div class="table-container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Anlass</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Location</th>
                <th>Datum</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td class="text-nowrap-sm">{{ appointment.occasion }}</td>
                <td class="text-nowrap-sm">{{ appointment.customer.prename }}</td>
                <td class="text-nowrap-sm">{{ appointment.customer.lastname }}</td>
                <td class="text-nowrap-sm">{{ appointment.location.locationName }}</td>
                <td class="text-nowrap-sm">{{ appointment.date ? appointment.date|date('d.m.Y') : '' }}</td>
                <td class="text-nowrap-sm">{{ appointment.startTime ? appointment.startTime|date('H:i') : '' }} Uhr</td>
                <td class="text-nowrap-sm">{{ appointment.endTime ? appointment.endTime|date('H:i') : '' }} Uhr</td>
                <td class="text-nowrap-sm">
                    <a class="special-link" href="{{ path('app_appointments_show', {'id': appointment.id}) }}">Anzeigen</a>
                    <a class="special-link" href="{{ path('app_appointments_edit', {'id': appointment.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="mt-4"></div>
    <a class="special-link" href="{{ path('app_appointments_new') }}">Neuen Termin anlegen</a>
{% endblock %}
