{% extends 'base.html.twig' %}

{% block title %}Termine{% endblock %}

{% block body %}
    <h1>Termine</h1>
    <div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Anlass</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Location</th>
                <th>Datum</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Gäste Anmerkungen</th>
                <th>DJ Anmerkungen</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.occasion }}</td>
                <td>{{ appointment.customer.prename }}</td>
                <td>{{ appointment.customer.lastname }}</td>
                <td>{{ appointment.location.locationName }}</td>
                <td>{{ appointment.date ? appointment.date|date('d.m.Y') : '' }}</td>
                <td>{{ appointment.startTime ? appointment.startTime|date('H:i') : '' }} Uhr</td>
                <td>{{ appointment.endTime ? appointment.endTime|date('H:i') : '' }} Uhr</td>
                <td>dasdasdsas</td>
                <td>dasdas</td>
                <td>
                    <a class="special-link" href="{{ path('app_appointments_show', {'id': appointment.id}) }}">Anzeigen</a>
                    <a class="special-link" href="{{ path('app_appointments_edit', {'id': appointment.id}) }}">Bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="mt-4"></div>
    <a class="special-link" href="{{ path('app_appointments_new') }}">Neuen Termin anlegen</a>
{% endblock %}
