{% extends 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block body %}
    <h1>Termine</h1>


<div class="table-container mt-4 mb-4">
    <table class="table">
        <tbody>
            <tr>
                <th>Anlass</th>
                <td>{{ appointment.occasion }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ appointment.date ? appointment.date|date('d.m.Y') : '' }}</td>
            </tr>
            <tr>
                <th>Beginn (Uhrzeit)</th>
                <td>{{ appointment.startTime ? appointment.startTime|date('H:i') : '' }} Uhr</td>
            </tr>
            <tr>
                <th>Ende (Uhrzeit)</th>
                <td>{{ appointment.endTime ? appointment.endTime|date('H:i') : '' }} Uhr</td>
            </tr>
            <tr>
                <th>Dauer</th>
                <td>
                    {% if appointment.startTime and appointment.endTime %}
                        {% set start = appointment.startTime|date('U') %}
                        {% set end = appointment.endTime|date('U') %}
                        {% if end < start %}
                            {% set end = end + 86400 %} {# +24h, wenn Ende nach Mitternacht liegt #}
                        {% endif %}
                        {% set diff = (end - start) / 3600 %}
                        {{ diff|round(0, 'floor') }} Stunden
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Bestätigt?</th>
                <td>{{ appointment.isConfirmed ? 'Ja' : 'Nein' }}</td>
            </tr>
            <tr>
                <th>Aufbau geklärt?</th>
                <td>{{ appointment.setupWithLocation ? 'Ist abgeklärt' : 'Nicht abgeklärt' }}</td>
            </tr>
            <tr>
                <th>Abbau geklärt?</th>
                <td>{{ appointment.teardownWithLocation ? 'Ist abgeklärt' : 'Nicht abgeklärt'  }}</td>
            </tr>
            <tr>
                <th>Aufbau Datum</th>
                <td>{{ appointment.setupDate ? appointment.setupDate|date('d.m.Y') : '' }}</td>
            </tr>
            <tr>
                <th>Aufbau Zeit</th>
                <td>{{ appointment.setupTime ? appointment.setupTime|date('H:i') : '' }} Uhr</td>
            </tr>
            <tr>
                <th>Abbau Datum</th>
                <td>{{ appointment.teardownDate ? appointment.teardownDate|date('d.m.Y') : '' }}</td>
            </tr>
            <tr>
                <th>Abbau Zeit</th>
                <td>{{ appointment.teardownTime ? appointment.teardownTime|date('H:i') : '' }} Uhr</td>
            </tr>
            <tr>
                <th>Gäste</th>
                <td>{{ appointment.attendeesCount }}</td>
            </tr>
            <tr>
                <th>Gästealter von</th>
                <td>{{ appointment.attendeesAgeFrom }}</td>
            </tr>
            <tr>
                <th>Gästealter bis</th>
                <td>{{ appointment.attendeesAgeTo }}</td>
            </tr>
            <tr>
                <th>Informationen zu den Gästen</th>
                <td>{{ appointment.attendeesNotes }}</td>
            </tr>
            <tr>
                <th>Musikfragebogen PDF</th>
                <td>{{ appointment.musicPdfPath ? 'Hinterlegt' : 'Nicht hinterlegt' }}</td>
            </tr>
            <tr>
                <th>Notizen für den DJ</th>
                <td>{{ appointment.djNotes }}</td>
            </tr>
            <tr>
                <th>DJ Preis (Stunde)</th>
                <td>{{ appointment.priceDjHour }} €/Stunde</td>
            </tr>
            <tr>
                <th>Verlängerung / Stunde</th>
                <td>{{ appointment.priceDjExtention }} €/Stunde</td>
            </tr>
            <tr>
                <th>Preis Technik</th>
                <td>{{ appointment.priceTech }} €</td>
            </tr>
            <tr>
                <th>Anfahrtskosten</th>
                <td>{{ appointment.priceApproach }} €</td>
            </tr>
            <tr>
                <th>Gesamtkosten</th>
                <td>{{ (appointment.priceDjHour*diff)+appointment.priceTech+appointment.priceApproach }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <a class="special-link" href="{{ path('app_appointments_index') }}">Alle Termine ansehen</a>

    <a class="special-link" href="{{ path('app_appointments_edit', {'id': appointment.id}) }}">Termin bearbeiten</a>
    <div class="mb-5"></div>
{% endblock %}
