{% extends 'base.html.twig' %}

{% block title %}Musikfragebogen{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Musikfragebogen für {{ appointment.occasion }}</h1>
        <p class="lead">Bitte teilen Sie uns Ihre Musikwünsche mit.</p>

        {{ form_start(form) }}
            {{ form_row(form.genres) }}
            {{ form_row(form.mustHaves) }}
            {{ form_row(form.noGos) }}
            {{ form_row(form.atmosphere) }}
            
            <button class="btn btn-primary mt-3">Speichern</button>
            <a href="{{ path('app_customer_appointment_view', {'token': appointment.token}) }}" class="btn btn-secondary mt-3">Zurück</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
