<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Brink VA</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'app_dashboard' %}active{% endif %}" href="{{ path('app_dashboard') }}">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'app_customer_index' %}active{% endif %}" href="{{ path('app_customer_index') }}">
            <i class="fas fa-users me-2"></i> Kunden
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'app_appointments_index' %}active{% endif %}" href="{{ path('app_appointments_index') }}">
            <i class="fas fa-calendar-alt me-2"></i> Veranstaltungen
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'app_objects_index' %}active{% endif %}" href="{{ path('app_objects_index') }}">
            <i class="fas fa-box me-2"></i> Objekte
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'app_location_index' %}active{% endif %}" href="{{ path('app_location_index') }}">
            <i class="fas fa-map-marker-alt me-2"></i> Locations
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if app.request.attributes.get('_route') == 'app_user_index' %}active{% endif %}" href="{{ path('app_user_index') }}">
            <i class="fas fa-user-shield me-2"></i> Benutzer
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 {% if 'settings' in app.request.attributes.get('_route') %}active{% endif %}" href="{{ path('app_settings') }}">
            <i class="fas fa-cog me-2"></i> Einstellungen
        </a>
    </div>
</div>
